{% extends 'main/base.html'  %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

<div class="col-md-8 offset-md-2">
    <main>
    <h1 class="text-center pb-3 pt-3 alert alert-primary">Добро пожаловать на сайт Отдела статистики УКНИ ГУУ</h1>
<!--        <hr class="col-3 col-md-2 mb-5">-->
    <p class="fs-5 col-md-12 text-center pb-3 pt-3">Сайт создан для централизованного сбора и дальнейшей обработки массива данных поступающего
    в отдел статистики.</p>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5 ">
      <div class="col-md-6">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-display align-middle" viewBox="0 0 16 16" >
              <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"></path>
            </svg>
            Просмотр
        </h2>
        <p> В данном подразделе указаны ссылки для просмотра уже имеющейся информации.</p>
        <ul class="icon-list">
          <li><a href="{% url 'institute' %}" >Институты</a></li>
          <li><a href="{% url 'history' %}" >Конференции</a></li>
          <li><a href="{% url 'vakList' %}">Публикации ВАК</a></li>
          <li><a href="{% url 'thesisList' %}">Тезисы конференции</a></li>
          <li><a href="{% url 'monographList' %}">Монографии</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Добавление
        </h2>
        <p>В данном подразделе указаны ссылки для добавления новой информации.</p>
        <ul class="icon-list">
          <li><a href="{% url 'conference' %} ">Добавить конференцию</a></li>
          <li><a href="{% url 'vak' %} ">Добавить статью ВАК</a></li>
          <li><a href="{% url 'thesis' %} ">Добавить тезисы конференций</a></li>
          <li><a href="{% url 'monograph' %} ">Добавить монографию</a></li>
          <li><a href="{% url 'income' %}">Добавить доход по НИР</a></li>
          <li><a href="{% url 'rid' %}">Добавить РИД</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}

