{% extends 'main/base.html'  %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="row">
{% include 'authentication/menu.html' %}
<div class="col-md-8">
    <h1 class="text-center alert alert-primary">{{ title }}</h1>
    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor%}
    {% endif%}

    <div class="col-12">
        <h3 class="text-center">  {{ departure.Institute }} → {{ departure.Name }}</h3>
            {% include 'main/back.html' %}
        <br>
        <table class="table table-bordered border border-2 table-hover">
              <thead class="table-primary">
                    <tr class="bw d-flex">
                      <th scope="col" class="col-5 text-center">Название</th>
                      <th scope="col" class="col-1 text-center">Зачет</th>
                      <th scope="col" class="col-1 text-center">Баллы</th>
                      <th scope="col" class="col-1 text-center">Год</th>
                      <th scope="col" class="col-4 text-center">Комментарии отдела статистики </th>
                    </tr>
              </thead>
             <tbody>
 <!-- https://stackoverflow.com/questions/25385289/how-to-set-the-size-of-a-column-in-a-bootstrap-responsive-table-->
             {% for obj in object_list %}
                <tr class="table-light d-flex">

                    {% if obj.Accepted%}
                      <td class="col-5">
                        {{ obj.Name }}
                      </td>
                      <td class="col-1 text-center"> Да </td>
                    {% else %}
                      <td class="col-5">
                        <a href="{{ obj.get_absolute_url}}" target="_blank"> {{ obj.Name }} </a>
                      </td>
                      <td class="col-1 text-center"> Нет </td>
                    {% endif%}
                  <td class="col-1 text-center">{{ obj.Points }}</td>
                  <td class="col-1 text-center">{{ obj.Year }}</td>
                  <td class="col-4">{{ obj.Comment }}</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
         <div class="text-center">
            <span class="step-links" >
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Первая</a> |
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a> |
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a> |
                    <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a> |
                {% endif %}
            </span>
        </div>
        {% include 'main/back.html' %}
    </div>
</div>
</div>
{% endblock %}