
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 510px">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-4">МЕНЮ</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link link-dark" aria-current="page">
             Профиль
            </a>
          </li>
            {% endif%}
          <li class="nav-item">
            <a href=" {% url 'main' year=current_year %} " class="nav-link link-dark">
              Просмотр план-факта
            </a>
          </li>
            <hr>
          <li class="nav-item">
            <a href="{% url 'vak_create' %}" class="nav-link link-dark" aria-current="page">
             Добавление ВАК
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'thesis_create' %}" class="nav-link link-dark" aria-current="page">
             Добавление тезисов
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'monograph_create' %}" class="nav-link link-dark" aria-current="page">
             Добавление монографий
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'income_create' %}" class="nav-link link-dark" aria-current="page">
             Добавление дохода по НИР
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'rid_create' %}" class="nav-link link-dark" aria-current="page">
             Добавление РИД
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'conference' %}" class="nav-link link-dark" aria-current="page">
             Добавление Конференции
            </a>
          </li>
        </ul>
    </div>