{% extends 'main/base.html'  %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="row">
{% include 'authentication/menu.html' %}
<div class="col-md-8">
    <h1 class="text-center alert alert-primary">{{ title }}</h1>
    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor%}
    {% endif%}

    <div class="col-12">
        <table class="table">
              <thead>
                <tr class="bw">
                  <th scope="col">Кафедра/Показатель</th>
                  <th scope="col">План</th>
                  <th scope="col">Факт</th>
                  <th scope="col">% выпол.</th>
                </tr>
                </thead>
             <tbody>
             {% for department in total_list %}
                <tr class="table-primary">
                    <td colspan="4"> {{ department.name }}</td>
                </tr>
                {% for k, value in department.values.items %}

                    <tr class="table-light">
                    <td style="padding-left: 25px;"> {{value.name}} </td>
                    <td>{{ value.plan}}</td>
                    <td>{{ value.fact }} </td>
                    <td>{{ value.proc }} </td>
                    </tr>

                {% endfor %}

            {% endfor %}

             </tbody>
        </table>
        <a href="{% url 'main' %}"> Назад к просмотру План-факт Институтов </a>
    </div>
</div>
</div>
{% endblock %}